<div id="page-wrapper" class="gray-bg">
    <div id="addCustomerForm" class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-md-12 text-center">
            <div class="panel">
                <div class="panel-heading">
                    <i class="fa fa-warning"></i> Inserisci le informazioni della tua attività.
                </div>
                <div class="panel-body">
                    <p>Fino a quando non completerai le informazioni, non sarà possibile utilizzare The Winesider.</p>
                    <p>Prenditi il tuo tempo. Compila correttamente tutti i campi, accertandoti di non commettere errori.</p>
                    <p>Grazie.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <form name="signupForm" autocomplete="on" class="form-inline form-group-lg" role="form">
                <!-- Dati contrattuali -->
                <div class="ibox-content m-b-sm border-bottom">
                    <h2>Inserisci le informazioni della tua attività.</h2>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control txt-xl" placeholder="Ragione sociale completa" name="business_name" ng-model="customer.business_name" required focus/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="P.IVA" name="vat_number" ng-model="customer.vat_number" required/>
                        </div>     
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Codice Fiscale" name="tax_code" ng-model="customer.tax_code" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="email" class="form-control txt-xl" placeholder="Email" name="email" ng-model="customer.email" required/>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control txt-xl" placeholder="PEC" name="pec" ng-model="customer.pec" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Indrizzo" name="legal_address" ng-model="customer.legal_address" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control txt-xl" placeholder="Città" name="legal_city" ng-model="customer.legal_city" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control txt-xl" placeholder="CAP" name="legal_cap" ng-model="customer.legal_cap" required/>
                        </div>
                    </div>
                    <!-- Dati Rappresentante legale -->
                    <hr>
                    <h2>Inserisci le informazioni del legale rappresentante.</h2>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Nome Rappresentante Legale" name="attorney_name" ng-model="customer.attorney_name" required/>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Cognome Rappresentante Legale" name="attorney_surname" ng-model="customer.attorney_surname" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Codice Fiscale Rappresentante Legale" name="attorney_taxcode" ng-model="customer.attorney_taxcode" required/>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control txt-xl" placeholder="Telefono Rappresentante legale" name="attorney_phone_number" ng-model="customer.attorney_phone_number" required/>
                        </div>
                    </div>
                    <!-- informazioni di spedizione --> 
                    <hr>
                    <h2>Informazioni per la spedizione della merce.</h2>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Indrizzo di spedizione" name="shipping_address" ng-model="customer.shipping_address" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control txt-xl" placeholder="Città" name="shipping_city" ng-model="customer.shipping_city" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control txt-xl" placeholder="CAP" name="shipping_cap" ng-model="customer.shipping_cap" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Orario per la consegna merce preferito</label>
                            <select class="form-control txt-xl" name="shipping_hour" ng-model="customer.shipping_hour" required>
                                <option ng-value="1">Mattina 9-11</option>
                                <option ng-value="2">Mattina 11-13</option>
                                <option ng-value="3">Pomeriggio 13-15</option>
                                <option ng-value="4">Pomeriggio 15-17</option>
                                <option ng-value="5">Sera 17-19</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Commenti sulla consegna merce (es. giorno di chiusura locale)</label>
                            <input type="text" class="form-control txt-xl" placeholder="Commenti" name="shipping_comment" ng-model="customer.shipping_comment"/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="text-center">
                        <div class="form-group"></div>
                        <span ng-show="signupForm.$invalid" class="help-block">Compila correttamente tutti i campi per registrarti.</span>
                        <button type="submit" class="btn btn-primary full-width btn-xl" ng-click="addCustomer(customer)" data-ng-disabled="signupForm.$invalid" ng-init="clicked = false" ng-disabled = "click">
                            <div class="spinner" ng-show="clicked"></div>
                            <div ng-click="clicked = true" ng-show="!clicked">Conferma dati e procedi</div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
