<div id="page-wrapper" class="gray-bg">
    <div id="addCustomerForm" class="wrapper wrapper-content animated fadeInRight">
        <div class="col-md-12">
            <div class="yellow-bg text-center">
                <div class="m-b-md" style=" font-size: 15px; padding: 8px;">
                    <i class="fa fa-warning"></i> <br/>
                    Fino a quando non completerai le informazioni, non sarà possibile utilizzare The Winesider.<br/>
                    Prenditi il tuo tempo. Compila correttamente tutti i campi, accertandoti di non commettere errori.<br/>
                    Grazie.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <form name="signupForm" autocomplete="on" class="form-inline form-group-lg" role="form">
                <!-- Dati contrattuali -->
                <div class="ibox-content m-b-sm border-bottom">
                    <h2>Inserisci le informazioni della tua attività.</h2>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control txt-xl" placeholder="Ragione sociale completa" name="business_name" ng-model="customer.business_name" focus required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="P.IVA" name="vat_number" ng-model="customer.vat_number" required/>
                        </div>     
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Codice Fiscale" name="tax_code" ng-model="customer.tax_code" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="email" class="form-control txt-xl" placeholder="Email" name="email" ng-model="customer.email" required/>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control txt-xl" placeholder="PEC" name="pec" ng-model="customer.pec" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Indrizzo" name="legal_address" ng-model="customer.legal_address" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control txt-xl" placeholder="Città" name="legal_city" ng-model="customer.legal_city" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control txt-xl" placeholder="CAP" name="legal_cap" ng-model="customer.legal_cap" required/>
                        </div>
                    </div>
                    <!-- Dati Rappresentante legale -->
                    <hr>
                    <h2>Inserisci le informazioni del legale rappresentante.</h2>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Nome Rappresentante Legale" name="attorney_name" ng-model="customer.attorney_name" required/>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Cognome Rappresentante Legale" name="attorney_surname" ng-model="customer.attorney_surname" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Codice Fiscale Rappresentante Legale" name="attorney_taxcode" ng-model="customer.attorney_taxcode" required/>
                        </div>
                        <div class="col-md-6">
                            <input type="number" class="form-control txt-xl" placeholder="Telefono Rappresentante legale" name="attorney_phone_number" ng-model="customer.attorney_phone_number" required/>
                        </div>
                    </div>
                    <!-- informazioni di spedizione --> 
                    <hr>
                    <h2>Informazioni per la spedizione della merce.</h2>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control txt-xl" placeholder="Indrizzo di spedizione" name="shipping_address" ng-model="customer.shipping_address" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control txt-xl" placeholder="Città" name="shipping_city" ng-model="customer.shipping_city" required/>
                        </div>
                        <div class="col-md-3">
                            <input type="number" class="form-control txt-xl" placeholder="CAP" name="shipping_cap" ng-model="customer.shipping_cap" required/>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Giorno spedizione preferito</label>
                            <select class="form-control txt-xl" name="shipping_day" ng-model="customer.shipping_day" required>
                                <option ng-value="Lunedi" >Lunedi</option>
                                <option ng-value="Martedi" >Martedi</option>
                                <option ng-value="Mercoledi" >Mercoledi</option>
                                <option ng-value="Giovedi" >Giovedi</option>
                                <option ng-value="Venerdi" >Venerdi</option>
                                <option ng-value="Sabato" >Sabato</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Orario preferito</label>
                            <select class="form-control txt-xl" name="shipping_hour" ng-model="customer.shipping_hour" required>
                                <option ng-value="1">Mattina 9-11</option>
                                <option ng-value="2">Mattina 11-13</option>
                                <option ng-value="3">Pomeriggio 13-15</option>
                                <option ng-value="4">Pomeriggio 15-17</option>
                                <option ng-value="5">Sera 17-19</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <div class="text-center">
                        <div class="form-group"></div>
                        <span ng-show="signupForm.$invalid" class="help-block">Compila correttamente tutti i campi per registrarti.</span>
                        <button type="submit" class="btn btn-primary full-width btn-xl" ng-click="newCustomer(customer)" data-ng-disabled="signupForm.$invalid">
                            Conferma dati e procedi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
