<div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="getStatistics()">
        <div class="row" ng-show="role == 'demo'">
            <div class="col-md-12">
                <div class="yellow-bg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-warning"></i> Questa è un versione demo dell'app per i commerciali. Nessun dato viene considerato a fini statistici.
                    </div>
                </div>
            </div>
        </div>
        <!-- filter -->
        <div class="ibox-content m-b-sm border-bottom" ng-show="role == 'admin'">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Filtra ristoranti</label>
                        <select name="status" id="status" class="form-control" ng-init="getUsers('customer')" ng-model="useruid" ng-change="getStatistics(useruid)">
                            <option value="" selected>Tutti</option>
                            <option ng-repeat="user in users" ng-value="user.uid" >{{user.restaurant}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- end filter -->
        <!-- dati -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <div class="pull-right">
                                <i class="fa fa-calendar"></i> <input date-range-picker class="select-btn date-picker" options="opts" type="text" ng-model="date"/>
                                <button type="button" class="btn-white" ng-click="getStatistics(useruid)">Applica</button>
                            </div>
                            <h1 class="m-b-xs">Dettaglio</h1> 
                            <small>Da <strong>{{rangeStart}}</strong> a <strong>{{rangeEnd}}</strong></small>
                        </div>
                        <hr>
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns">
                            <thead>
                                <tr>
                                    <th ng-show="role == 'admin'">SKU</th>
                                    <th>Nome</th>
                                    <th>Tipo</th>
                                    <th>Venduto</th>
                                    <th>Fatturato</th>
                                    <th ng-show="role == 'admin'">Fatturato TWS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="wine in wines" >
                                    <td ng-show="role == 'admin'">
                                        {{wine.sku}}
                                    </td>
                                    <td>
                                        {{wine.name}}
                                    </td>
                                    <td>
                                        {{wine.type}}
                                    </td>
                                    <td>
                                        {{wine.sold | number}}
                                    </td>
                                    <td>
                                        {{wine.total_restaurants | number}} &euro;
                                    </td>
                                    <td ng-show="role == 'admin'">
                                        {{wine.total_revenues | number}} &euro;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end dati -->
    </div>
</div>
