<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" ng-click="closeMenu()"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">
                        Welcome to The Winesider
                    </span>
                </li>
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>The Winesider Full Catalog</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="#/catalog-grid">View as a grid</a>
                </li>
                <li>
                    <a href="#/catalog-list"><strong>View as a list</strong></a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Search</label>
                        <input ng-model="name.filterModel" type="text" id="product_name" name="product_name" ng-value="" placeholder="Product Name" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="status">Producer</label>
                        <select name="status" id="status" class="form-control" ng-model="producer.filterModel">
                            <option value="" selected>All</option>
                            <option ng-repeat="producer in producers" ng-value="producer.producer">{{producer.producer}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="status">Region</label>
                        <select name="status" id="status" class="form-control" ng-model="region.filterModel">
                            <option value="" selected>All</option>
                            <option ng-repeat="region in regions" ng-value="region.region">{{region.region}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="status">Type</label>
                        <select name="status" id="status" class="form-control" ng-model="type.filterModel">
                            <option value="" selected>Tutti</option>
                            <option value="Bianco">Bianco</option>
                            <option value="Rosso">Rosso</option>
                            <option value="Bollicine">Bollicine</option>
                            <option value="Rosato">Rosato</option>
                            <option value="Champagne">Champagne</option>
                            <option value="Vino dolce">Vino dolce</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-init="getFullCatalog()">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Producer</th>
                                    <th>Region</th>
                                    <th>Alcohol</th>
                                    <!--th>Catalog</th>
<!--th class="text-right" data-sort-ignore="true">Action</th-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="wine in wines | filter:{description : name.filterModel, type: type.filterModel, region : region.filterModel, producer : producer.filterModel}" >
                                    <td>
                                        {{wine.description}}
                                    </td>
                                    <!--td>
$50.00
</td-->
                                    <td>
                                        <span class="label label-{{wine.type}}">{{wine.type}}</span>
                                    </td>
                                    <td>
                                        {{wine.producer}}
                                    </td>
                                    <td>
                                        {{wine.region}}
                                    </td>
                                    <td>
                                        {{wine.alcohol}}&deg;
                                    </td>
                                    <!--td class="text-right">
<div class="btn-group">
<button class="btn-white btn btn-xs">View</button>
<button class="btn-white btn btn-xs">Edit</button>
</div>
</td-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
