<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" ng-click="closeMenu()"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">
                        Welcome to The Winesider
                    </span>
                </li>
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="getWineSold(uid,7)">
        <div class="row" ng-show="role == 'demo'">
            <div class="col-md-12">
                <div class="yellow-bg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-warning"></i> Questa è un versione demo dell'app per i commerciali. Nessun dato viene considerato a fini statistici.
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content m-b-sm border-bottom" ng-show="role == 'admin'">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Filtra ristoranti</label>
                        <select name="status" id="status" class="form-control" ng-init="getUsers('customer')" ng-model="useruid" ng-change="getWineSold(useruid,7)">
                            <option value="" selected>Tutti</option>
                            <option ng-repeat="user in users" ng-value="user.uid" >{{user.restaurant}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <!--input date-range-picker class="form-control date-picker" options="opts" type="text" ng-model="datePicker.date"/-->
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSold(uid,-7)">Scorsa Settimana</button>
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSold(uid,7)">Questa Settimana</button>
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSold(uid,30)">Questo Mese</button>
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSold(uid,365)">Quest Anno</button>
                                    <!--button type="button" class="btn btn-xs btn-white" ng-click="getWineSold(useruid)">Applica</button-->
                                </div>
                            </div>
                            <h1 class="m-b-xs">Panoramica generale</h1> 
                            <small>Da <strong>{{rangeStart}}</strong> a <strong>{{rangeEnd}}</strong></small>
                        </div>

                        <div id="wineGraph-wrapper">
                            <canvas id="wineGraph" height="70"></canvas>
                        </div>

                        <div class="m-t-md">
                            <small>
                                <strong>Analisi delle vendite:</strong> Viene considerata la giornata lavorativa del ristorante dalle 12:00 alle 12:00 del giorno seguente.
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-class="role == 'admin' ? 'col-lg-3' : 'col-lg-4'">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Prodotti</span>
                        <h5>Dettaglio</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"># {{totalBottle | number}}</h1>
                        <small>Totale Bottiglie vendute</small>
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Venduto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="wine in wines" >
                                    <td>
                                        {{wine.name}}
                                    </td>
                                    <td>
                                        {{wine.sold | number}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-class="role == 'admin' ? 'col-lg-3' : 'col-lg-4'" ng-show="role == 'admin'">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">Dettaglio</span>
                        <h5>Fatturato The Winesider</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">&euro; {{totalRevenueTws | number}}</h1>
                        <small>Totale Fatturato</small>
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Fatturato</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="wine in wines" >
                                    <td>
                                        {{wine.name}}
                                    </td>
                                    <td>
                                        &euro; {{wine.revenueTws | number}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-class="role == 'admin' ? 'col-lg-3' : 'col-lg-4'">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">Dettaglio</span>
                        <h5>Fatturato Ristorante</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">&euro; {{totalRevenue | number}}</h1>
                        <small>Totale Fatturato</small>
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Fatturato</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="wine in wines" >
                                    <td>
                                        {{wine.name}}
                                    </td>
                                    <td>
                                        &euro; {{wine.revenue | number}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-class="role == 'admin' ? 'col-lg-3' : 'col-lg-4'">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Tipologia</span>
                        <h5>Dettaglio bottiglie vendute</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="wineType" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>