<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" ng-click="closeMenu()"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">
                        Welcome to The Winesider
                    </span>
                </li>
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="getWineSoldThisWeek()">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSoldThisWeek()">Settimana</button>
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSoldMonthly()">Mese</button>
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSoldYearly()">Anno</button>
                                    <button type="button" class="btn btn-xs btn-white" ng-click="getWineSoldYearly()">Personalizza</button>
                                </div>
                            </div>
                            <h1 class="m-b-xs"># {{totalBottle}}</h1>
                            <h3 class="font-bold no-margins">
                                Bottiglie vendute
                            </h3>
                            <small>Dal <strong>{{periodStart}}</strong> al <strong>{{periodEnd}}</strong></small>
                        </div>

                        <div>
                            <canvas id="main" height="70"></canvas>
                        </div>

                        <div class="m-t-md">
                            <small>
                                <strong>Analisi delle vendite:</strong> Viene considerata la giornata lavorativa del ristorante dalle 12:00 alle 12:00 del giorno seguente.
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Prodotti</span>
                        <h5>Dettaglio</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Totale Venduto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="wine in wines" >
                                    <td>
                                        {{wine.name}}
                                    </td>
                                    <td>
                                        {{wine.sold}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Tipologia</span>
                        <h5>Dettaglio</h5>
                    </div>
                    <div class="ibox-content">
                        <canvas id="wineType" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">Annual</span>
                        <h5>Income</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">$ 120 430,800</h1>
                        <div class="stat-percent font-bold text-warning">16% <i class="fa fa-level-up"></i></div>
                        <small>New orders</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>