<div class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="logo"></div>
        <h3>Compila il form per creare un account</h3>
        <form name="signupForm" class="form-horizontal" role="form">
            <div class="form-group">
                <input type="text" class="form-control form-inline" placeholder="Nome" ng-model="signup.name" focus/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-inline" placeholder="Cognome" ng-model="signup.surname" />
            </div>
            <!--div class="form-group">
                <input type="text" class="form-control" placeholder="Ruolo" ng-model="signup.role" />
            </div-->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ristorante" ng-model="signup.restaurant" />
            </div>
            <!--div class="form-group">
                <input type="text" class="form-control" placeholder="Address" ng-model="signup.address" />
            </div-->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email"/>
                <span ng-show="signupForm.email.$error.email" class="help-inline">Email non valida</span> 
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Inserisci la password</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>                                
                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Inserisci di nuovo la password</small>
                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Le password non corrispondono.</small>
            </div>
            <!--div class="form-group">
                <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="signup.phone"/>
            </div-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary block full-width m-b" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                    Registrati
                </button>
            </div>
            <div>
                Hai già un account? <a href="#/login">Login</a>
            </div>
        </form>
        <p class="m-t"> 
            <small>TWS 0.1 2016 - made with &#9825; in Turin </small> 
        </p>
    </div>
</div>



<!-- /.page-content -->