<div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="getWineSold(uid)">
        <div class="ibox-content m-b-sm border-bottom" ng-show="role == 'admin'">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Filtra ristoranti</label>
                        <select name="status" id="status" class="form-control" ng-init="getUsers('customer')" ng-model="useruid" ng-change="getStatistics(useruid)">
                            <option value="" selected>Tutti</option>
                            <option ng-repeat="user in users" ng-value="user.uid" >{{user.restaurant}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="role == 'admin'">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Fatturato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="wine in wines" >
                        <td>
                            {{wine.name}}
                        </td>
                        <td>
                            &euro; {{wine.total_revenues | number}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
