<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" ng-click="closeMenu()"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">
                        Welcome to The Winesider
                    </span>
                </li>
                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
        <div ng-init="getWineList()">
            <div class="container-fluid">
                <div class="row">
                    <div class="wines-btn-group col-md-12 hidden-xs">
                        <label class="btn btn-primary" ng-model="filterModel" uib-btn-radio="''">Tutti i vini</label>
                        <label class="btn btn-primary" ng-model="filterModel" uib-btn-radio="'Bianco'">Bianco</label>
                        <label class="btn btn-primary" ng-model="filterModel" uib-btn-radio="'Rosso'">Rosso</label>
                        <label class="btn btn-primary" ng-model="filterModel" uib-btn-radio="'Bollicine'">Bollicine</label>
                        <label class="btn btn-primary" ng-model="filterModel" uib-btn-radio="'Rosato'">Rosati</label>
                        <label class="btn btn-primary" ng-model="filterModel" uib-btn-radio="'Champagne'">Champagne</label>
                        <label class="btn btn-primary" ng-model="filterModel" uib-btn-radio="'dolce'">Vini dolci</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-3" ng-repeat = "wine in wines | orderBy: 'region' | filter:filterModel">
                        <div ng-controller="modalCtrl" class="btn-wine white-bg" ng-click="open('md',wine.name,wine.sku)">
                            <div class="italic">{{wine.region}}</div>
                            <div class="bold uppercase">{{wine.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>