<div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="getStatistics()">
        <div class="row" ng-show="role == 'demo'">
            <div class="col-md-12">
                <div class="yellow-bg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-warning"></i> Questa è un versione demo dell'app per i commerciali. Nessun dato viene considerato a fini statistici.
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content m-b-sm border-bottom" ng-show="role == 'admin'">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Filtra ristoranti</label>
                        <select name="status" id="status" class="form-control" ng-init="getUsers('customer')" ng-model="useruid" ng-change="getStatistics(useruid)">
                            <option value="" selected>Tutti</option>
                            <option ng-repeat="user in users" ng-value="user.uid" >{{user.restaurant}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <div class="pull-right">
                                <i class="fa fa-calendar"></i> <input date-range-picker class="select-btn date-picker" options="opts" type="text" ng-model="date"/>
                                <button type="button" class="btn-white" ng-click="getStatistics(uid)">Applica</button>
                            </div>
                            <h1 class="m-b-xs">Panoramica generale</h1> 
                            <small>Da <strong>{{rangeStart}}</strong> a <strong>{{rangeEnd}}</strong></small>
                        </div>

                        <div id="wineGraph-wrapper">
                            <canvas id="wineGraph" height="90"></canvas>
                        </div>

                        <div class="m-t-md">
                            <small>
                                <strong>Analisi delle vendite:</strong> Viene considerata la giornata lavorativa del ristorante dalle 12:00 alle 12:00 del giorno seguente.
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div ng-class="role == 'admin' ? 'col-lg-4' : 'col-lg-6'">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Bottiglie vendute</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{totalBottle | number}}</h1>
                                <small>Totale</small>
                            </div>
                        </div>
                    </div>
                    <div ng-class="role == 'admin' ? 'col-lg-4' : 'col-lg-6'" ng-show="role == 'admin'">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Fatturato The Winesider</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">&euro; {{totalRevenueTws | number}}</h1>
                                <small>Totale </small>
                            </div>
                        </div>
                    </div>
                    <div ng-class="role == 'admin' ? 'col-lg-4' : 'col-lg-6'">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Fatturato</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">&euro; {{totalRevenue | number}}</h1>
                                <small>Totale</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Ricarico</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{averageMark | number: 1}}</h1>
                                <small>Media</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Scontrino</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">&euro; {{averageSold}} </h1>
                                <small>Media</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Vino più venduto</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{bestWine}}</h1>
                                <small>Etichetta</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Categoria più venduta</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{bestWineType}}</h1>
                                <small>Tipologia</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Tipologia</span>
                        <h5>Dettaglio bottiglie vendute</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="wineType" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
